:root {
  --colour-primary: #fff;
  --colour-secondary: #000;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app-body {
  background-color: var(--colour-secondary);
}

.app-body div div span {
  color: var(--colour-primary);
}

.app-title {
  background-color: var(--colour-primary);
  color: var(--colour-secondary);
}

#scripts {
  margin-top: 19px;
  margin-bottom: 38px;
  height: 349px;
  max-height: 349px;
  overflow-y: scroll;
}

#scripts::-webkit-scrollbar {
  width: 0px;
}
